<div class="align-items-center form-background">
    <div class="container text-center">
        <form id="form-editPost">
            <h3 class="mb-3 font-weight-normal">Edit Blog Post!</h3>
            <div class="form-group my-3">
                <label for="postTitle" class="visually-hidden">Blog Title</label>
                <textarea class="form-control" id="postTitle" rows="1" placeholder="Blog Title:" required autofocus>{{title}}</textarea>
            </div>
            <div class="form-group my-3">
                <label for="postContent" class="visually-hidden">Blog Content</label>
                <textarea class="form-control" id="postContent" rows="10" placeholder="Blog Content:" required>{{content}}</textarea>
            </div>
            <a class="visually-hidden" id="blog_id">{{id}}</a>
            <div>
                <button class="btn btn-lg btn-info" id="editPost">Edit Blog Post</button>
            </div>
            <div>
            <button class="btn btn-lg btn-danger" id="deletePost">Delete Blog Post</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/editPost.js"></script>