<div class="align-items-center form-background">
    <div class="container text-center">
        <form id="form-newPost">
            <h3 class="mb-3 font-weight-normal">New Blog Post!</h3>
            <div class="form-group my-3">
                <label for="postTitle" class="visually-hidden">Blog Title</label>
                <textarea class="form-control" id="postTitle" rows="1" placeholder="Post Title:" required autofocus></textarea>
            </div>
            <div class="form-group my-3">
                <label for="postContent" class="visually-hidden">Blog Content</label>
                <textarea class="form-control" id="postContent" rows="10" placeholder="Post Content:" required></textarea>
            </div>
            <button class="btn btn-lg btn-info" type="submit">Post to blog</button>
        </form>
    </div>
</div>

<script src="/js/newPost.js"></script>