<div id="register-background" class="align-items-center">
  <div class="container text-center" id="register-container">
    <form class="form-register">
      <h5 class="mb-3 font-weight-normal" id="register-message">Register for a Tech Blog account</h5>
      <label for="registerUsername" class="visually-hidden">Username</label>
      <input type="username" id="registerUsername" class="form-control" placeholder="Username" required autofocus>
      <label for="registerPassword" class="visually-hidden">Password</label>
      <input type="password" id="registerPassword" class="form-control" placeholder="Password" required>
      <button class="w-100 btn btn-lg btn-primary btn-block" type="submit">Register and Sign In</button>
    </form>
    <a href="/login" id="login-message">Already have an account? Login!</a>
  </div>
</div>

<script src="/js/register.js"></script>